@font-face {
    font-family: "BlackDiamond";
    src:url("Fonts/Black\ Diamond.otf");
}

@font-face {
    font-family: "TrendSansOne";
    src:url("Fonts/Latinotype\ -\ TrendSansOne.otf");
}

/* Slide 1 */

#start-button {
  right: 2vw;
  position: absolute;
  bottom: 2vw;
  font-family: "TrendSansOne";
}

.logo-slide1 {
    width: 33%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#triangle11 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 22vw 22vw;
  border-color: transparent transparent #6ac1c2 transparent;
  position:absolute;
  bottom:0;
  right:0;
  opacity: .75;
}

#triangle12 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 26vw 26vw;
  border-color: transparent transparent #6ac1c2 transparent;
  position:absolute;
  bottom:0;
  right:0;
  opacity: .25;
}

#slide1-text {
  width: 100%;
  top: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #234753;
  font-family: "TrendSansOne";
  text-align:center;
  font-size: 1.2rem;
}
/* TODO: Add Media Query Breakpoint for text */


/* Slide 2 */

.logo-slide2 {
  width: 66%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#slide2-text {
  width: 100%;
  top: 33%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #0b1f2f;
  font-family: "TrendSansOne";
  text-align:center;
  font-size: 2.4rem;
}
/* TODO: Add Media Query Breakpoint for text*/

#rectangle21 {
  width: 3%;
  height: 100%;
  position:absolute;
  background-color: #50b8bb;
  top:0;
  left:0;
  opacity: .75;
}

#rectangle22 {
  width: 6%;
  height: 100%;
  position:absolute;
  background-color: #50b8bb;
  top:0;
  left:0;
  opacity: .50;
}


/* Slide 3 */

#slide3-text-vertical {
  top: 15.5%;
  position: absolute;
  color: #d3b03c;
  font-family: "TrendSansOne";
  text-align:center;
  transform: rotate(-90deg);
}

#slide3-text {
  top: 8%;
  left: 12%;
  position: absolute;
  color: white;
  font-family: "TrendSansOne";
  background: linear-gradient(top, transparent 0%, #0c1f2e 100%);
  text-align: left;
  
  display: block;
 
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  #slide3-text-vertical {
    font-size: 1.5rem;
  }

  #slide3-text {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  
  #slide3-text-vertical {
    font-size: 2rem;
  }

  #slide3-text {
    line-height: 2rem;
    font-size: 2rem;
  }
  
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

  #slide3-text-vertical {
    font-size: 2rem;
  }

  #slide3-text {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
  #slide3-text-vertical {
    font-size: 3rem;
  }

  #slide3-text {
    line-height: 3rem;
    font-size: 3rem;
  }

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
  #slide3-text-vertical {
    font-size: 3.5rem;
  }

  #slide3-text {
    line-height: 3.5rem;
    font-size: 3.5rem;
  }

 }

#rectangle31 {
  width: 3%;
  height: 100%;
  position:absolute;
  background-color: #d3b03c;
  top:0;
  right:0;
  opacity: .75;
}

#rectangle32 {
  width: 6%;
  height: 100%;
  position:absolute;
  background-color: #d3b03c;
  top:0;
  right: 0;
  opacity: .50;
}